*~
.*.swp

venv/

build/
dist/
*.pdb
*.py[cod]

wheelhouse/

src/pymmcore/pymmcore_swig_wrap.h
src/pymmcore/pymmcore_swig_wrap.cpp
src/pymmcore/_pymmcore_swig.*
src/pymmcore/pymmcore_swig.py
pymmcore.egg-info
.mypy_cache/

.vscode
