include pymmcore/py.typed
recursive-include * *.pyi
recursive-include mmCoreAndDevices/MMDevice *.h *.cpp
recursive-include mmCoreAndDevices/MMCore *.h *.cpp
prune mmCoreAndDevices/MMDevice/unittest
prune mmCoreAndDevices/MMCore/unittest
