recursive-include * *.pyi
recursive-include mmCoreAndDevices/MMDevice *.h *.cpp
recursive-include mmCoreAndDevices/MMCore *.h *.cpp

prune mmCoreAndDevices/MMDevice/unittest
prune mmCoreAndDevices/tools
prune mmCoreAndDevices/MMCore/unittest
prune mmCoreAndDevices/MMCoreJ_wrap
prune mmCoreAndDevices/DeviceAdapters
prune mmCoreAndDevices/m4
prune mmCoreAndDevices/.github
recursive-exclude mmCoreAndDevices *.txt *.md *.am .project \
    *.vcxproj* *.sln *.props *.cdt* secret-device-* meson.build *.wrap
